/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: cadre-box;
}

body {
  cursor: url(assets/cursor.png), auto;
}

.container {
  max-width: 1000px;
  margin: auto;
  width: 80%;
}

.space_between {
  justify-content: space-between;
}

.flex {
  flex-wrap: wrap;
  display: flex;
}

.alignitems {
  align-items: center;
}

/* Cadre et bordure*/

.cadre_hero {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.527);
}
.cadre_left {
  margin-left: 2vw;
  top: 0;
  width: 1px;
  height: 100%;
}
.cadre_top {
  margin-top: 5vh;
  width: 100%;
  height: 1px;
}

.bordure {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.bordure_top,
.bordure_bottom {
  position: absolute;
  height: 5vh;
  width: 100%;
  background-color: rgb(13, 13, 17);
  cursor: none;
}

.bordure_left,
.bordure_right {
  position: absolute;
  height: 100%;
  width: 2vw;
  background-color: rgb(13, 13, 17);
  cursor: none;
}

.bordure_top {
  top: 0;
}
.bordure_bottom {
  bottom: 0;
}

.bordure_left {
  left: 0;
}

.bordure_right {
  right: 0;
}

/* Fin cadre / bordure */

/* Début main */

main {
  background-image: url(assets/pixel_room.png);
  background-position: center;
  object-fit: cover;
  height: 95vh;
}
